<!-- cabeçalho -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Candidatos a Prefeito</ion-title>
  </ion-navbar>
</ion-header>

<!-- conteúdo -->
<ion-content>

  <div class="container">

    <div class="starter-template">

      <div class="page-header">
        <h1>Candidatos a Prefeito</h1>
      </div>

      <!-- formulário -->
      <form (ngSubmit)="consulta()">

        <div class="form-group">
          <ion-item>
            <ion-label>Cidade</ion-label>
            <ion-select cancelText="CANCELAR" okText="OK" required name="cidade" [(ngModel)]="params.cidade">
            <ion-option *ngFor="let cidade of cidades" [value] = "cidade.SIGLA_UE">{{cidade.DESCRICAO_UE}}</ion-option>
            </ion-select>
          </ion-item>
        </div>

        <button ion-button type="submit" color="dark">Consultar</button>

      </form>

      <div class="page-header">
        <h2>Candidatos</h2>
      </div>

      <div class="row">

        <!-- apresentação dos candidatos -->
        <div class="col-sm-4" *ngFor="let candidato of candidatos">
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <tbody>
                <tr>
                  <td align="center" colspan="2">{{candidato.NOME_CANDIDATO}}</td>
                </tr>
                <tr>
                  <th>Apelido:</th>
                  <td>{{candidato.NOME_URNA_CANDIDATO}}</td>
                </tr>
                <tr>
                  <th>Partido:</th>
                  <td>{{candidato.SIGLA_PARTIDO}}</td>
                </tr>
                <tr>
                  <th>Escolaridade:</th>
                  <td>{{candidato.DESCRICAO_GRAU_INSTRUCAO}}</td>
                </tr>
                <tr>
                  <th>Cor:</th>
                  <td>{{candidato.DESCRICAO_COR_RACA}}</td>
                </tr>
                <tr>
                  <th>Sexo:</th>
                  <td>{{candidato.DESCRICAO_SEXO}}</td>
                </tr>
                <tr>
                  <th>Estado Civil:</th>
                  <td>{{candidato.DESCRICAO_ESTADO_CIVIL}}</td>
                </tr>
                <tr>
                  <th>Idade:</th>
                  <td>{{candidato.IDADE_DATA_ELEICAO}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</ion-content>
