<!-- cabeçalho -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil Eleitoral</ion-title>
  </ion-navbar>
</ion-header>

<!-- conteúdo -->
<ion-content>

  <div class="container">

    <div class="starter-template">
      
      <div class="page-header">
        <h1>Perfil dos Eleitores por Zona Eleitoral ({{params.uf}})</h1>
      </div>
	  
      <!-- formulário -->
      <form (ngSubmit)="consulta()">

        <div class="form-group">
          <ion-item>
            <ion-label>Zona Eleitoral</ion-label>
            <ion-select cancelText="CANCELAR" okText="OK" required name="zonaEleitoral" [(ngModel)]="params.zonaEleitoral">
               <ion-option *ngFor="let item of zonasEleitorais" [value] = "item.NR_ZONA">{{item.NR_ZONA}}</ion-option>
            </ion-select>
          </ion-item>
        </div>

        <div class="form-group">
          <ion-item>
            <ion-label>Faixa(s) Etária(s)</ion-label>
            <ion-select multiple="true" cancelText="CANCELAR" okText="OK" name="faixasEtarias" [(ngModel)]="params.faixasEtarias">
              <ion-option *ngFor="let item of faixasEtarias" [value] = "item.FAIXA_ETARIA_ID">{{item.FAIXA_ETARIA}}</ion-option>
            </ion-select>
          </ion-item>
        </div>

        <div class="form-group">
          <ion-item>
            <ion-label>Grau(s) de Escolaridade</ion-label>
            <ion-select multiple="true" cancelText="CANCELAR" okText="OK" name="grausEscolaridade" [(ngModel)]="params.grausEscolaridade">
              <ion-option *ngFor="let item of grausEscolaridade" [value] = "item.GRAU_DE_ESCOLARIDADE_ID">{{item.GRAU_DE_ESCOLARIDADE}}</ion-option>
            </ion-select>
          </ion-item>
        </div>

        <button ion-button type="submit" color="dark">Consultar</button>
		
      </form>

      <!-- apresentação da tabela dos resultados -->
      <div class="page-header">
        <h2>Resultados</h2>
        <p>Eleitorado total: {{eleitorado.total}} eleitores</p>
      </div>
      <div class="panel panel-default">
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>Sexo</th>
                <th>Quantidade</th>
                <th>Percentual</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Feminino</td>
                <td>{{resultado.feminino.qtd}}</td>
                <td>{{resultado.feminino.per}}%</td>
              </tr>
              <tr>
                <td>Masculino</td>
                <td>{{resultado.masculino.qtd}}</td>
                <td>{{resultado.masculino.per}}%</td>
              </tr>
              <tr>
                <td>Não informado</td>
                <td>{{resultado.ni.qtd}}</td>
                <td>{{resultado.ni.per}}%</td>
              </tr>
              <tr>
                <td>TOTAL</td>
                <td>{{resultado.total.qtd}}</td>
                <td>{{resultado.total.per}}%</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>

  </div>

</ion-content>
