<!-- cabeçalho -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Candidatos a Vereador</ion-title>
  </ion-navbar>
</ion-header>

<!-- conteúdo -->
<ion-content>

  <div class="container">

    <div class="starter-template">

        <div class="page-header">
            <h1>Candidatos a Vereador</h1>
        </div>

        <!-- formulário -->
        <form (ngSubmit)="consulta()">

            <div class="form-group">
              <ion-item>
                <ion-label>Cidade</ion-label>
                <ion-select cancelText="CANCELAR" okText="OK" required name="cidade" [(ngModel)]="params.cidade">
                <ion-option *ngFor="let item of cidades" [value] = "item.SIGLA_UE">{{item.DESCRICAO_UE}}</ion-option>
                </ion-select>
              </ion-item>
            </div>

            <div class="form-group">
              <ion-item>
                <ion-label>Grau(s) de Escolaridade</ion-label>
                <ion-select multiple="true" cancelText="CANCELAR" okText="OK" name="grausEscolaridade" [(ngModel)]="params.grausEscolaridade">
                  <ion-option *ngFor="let item of grausEscolaridade" [value] = "item.COD_GRAU_INSTRUCAO">{{item.DESCRICAO_GRAU_INSTRUCAO}}</ion-option>
                </ion-select>
              </ion-item>
            </div>

            <div class="form-group">
              <ion-item>
                <ion-label>Sexo(s)</ion-label>
                <ion-select multiple="true" cancelText="CANCELAR" okText="OK" name="sexos" [(ngModel)]="params.sexos">
                  <ion-option *ngFor="let item of sexos" [value] = "item.CODIGO_SEXO">{{item.DESCRICAO_SEXO}}</ion-option>
                </ion-select>
              </ion-item>
            </div>

            <div class="form-group">
              <ion-item>
                <ion-label>Partido(s)</ion-label>
                <ion-select multiple="true" cancelText="CANCELAR" okText="OK" required name="partidos" [(ngModel)]="params.partidos">
                  <ion-option *ngFor="let item of partidos" value="{{item.NUMERO_PARTIDO}}">{{item.SIGLA_PARTIDO}}</ion-option>
                </ion-select>
              </ion-item>
            </div>

            <button ion-button type="submit" color="dark">Consultar</button>
			
        </form>

        <div class="page-header">
            <h2>Candidatos</h2>
        </div>

        <div class="row">

            <!-- apresentação dos candidatos -->
            <div class="col-sm-4" *ngFor="let candidato of candidatos">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <tbody>
                            <tr>
                                <td align="center" colspan="2">{{candidato.NOME_CANDIDATO}}</td>
                            </tr>
                            <tr>
                              <th>Escolaridade:</th>
                              <td>{{candidato.DESCRICAO_GRAU_INSTRUCAO}}</td>
                            </tr>
                            <tr>
                              <th>Sexo:</th>
                              <td>{{candidato.DESCRICAO_SEXO}}</td>
                            </tr>
                            <tr>
                              <th>Partido:</th>
                              <td>{{candidato.SIGLA_PARTIDO}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

  </div>
  
</ion-content>
