<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Candidatos a Vereador</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="container">

    <div class="starter-template">

        <div class="page-header">
            <h1>Candidatos a Vereador</h1>
        </div>

        <form (ngSubmit)="consulta()">

            <div class="form-group">
              <ion-item>
                <ion-label>Cidade</ion-label>
                <ion-select cancelText="CANCELAR" okText="OK" required name="cidade" [(ngModel)]="param.cidade">
                  <ion-option value="1" selected="true">Caeté/MG</ion-option>
                </ion-select>
              </ion-item>
            </div>

            <div class="form-group">
              <ion-item>
                <ion-label>Grau(s) de Escolaridade</ion-label>
                <ion-select multiple="true" cancelText="CANCELAR" okText="OK" name="grauEscolaridade" [(ngModel)]="param.grauEscolaridade">
                  <ion-option>ANALFABETO</ion-option>
                  <ion-option>LÊ E ESCREVE</ion-option>
                  <ion-option>ENSINO FUNDAMENTAL INCOMPLETO</ion-option>
                  <ion-option>ENSINO FUNDAMENTAL COMPLETO</ion-option>
                  <ion-option>ENSINO MÉDIO INCOMPLETO</ion-option>
                  <ion-option>ENSINO MÉDIO COMPLETO</ion-option>
                  <ion-option>SUPERIOR INCOMPLETO</ion-option>
                  <ion-option>SUPERIOR COMPLETO</ion-option>
                  <ion-option>NÃO INFORMADO</ion-option>
                </ion-select>
              </ion-item>
            </div>

            <div class="form-group">
              <ion-item>
                <ion-label>Sexo(s)</ion-label>
                <ion-select multiple="true" cancelText="CANCELAR" okText="OK" name="sexo" [(ngModel)]="param.sexo">
                  <ion-option>Masculino</ion-option>
                  <ion-option>Feminino</ion-option>
                  <ion-option>Não informado</ion-option>
                </ion-select>
              </ion-item>
            </div>

            <div class="form-group">
              <ion-item>
                <ion-label>Partido(s)</ion-label>
                <ion-select multiple="true" cancelText="CANCELAR" okText="OK" required name="partido" [(ngModel)]="param.partido">
				   <ion-option *ngFor="let item of partidos" value="{{item}}">{{item}}</ion-option>
				</ion-select>
              </ion-item>
            </div>

            <button ion-button type="submit" color="dark">Consultar</button>
			
        </form>

        <div class="page-header">
            <h2>Candidatos</h2>
        </div>

        <div class="row">

            <div class="col-sm-4" *ngFor="let candidato of candidatos">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <tbody>
                            <tr>
                                <td align="center" colspan="2">{{candidato.NOME_CANDIDATO}}</td>
                            </tr>
                            <tr>
                              <th>Escolaridade:</th>
                              <td>{{candidato.DESCRICAO_GRAU_INSTRUCAO}}</td>
                            </tr>
                            <tr>
                              <th>Sexo:</th>
                              <td>{{candidato.DESCRICAO_SEXO}}</td>
                            </tr>
                            <tr>
                              <th>Partido:</th>
                              <td>{{candidato.SIGLA_PARTIDO}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

  </div>
</ion-content>
